In [68]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [69]:
# Compute the correlation matrix for python
df1 = pd.read_csv('./x_python.csv', index_col=0)
df2 = pd.read_csv('./x_matlab.csv',header=None)
scaler=MinMaxScaler()

In [75]:
df1

            0         1         2         3         4         5
0   -0.918711 -0.398401 -0.452728 -0.582134 -0.093780  1.117399
1   -0.936543 -0.376109 -0.458354 -0.582290 -0.093780  1.249592
2   -0.958998 -0.312813 -0.430125 -0.581180 -0.093780  1.498639
3   -0.909839 -0.395288 -0.460228 -0.582623 -0.093780  1.051631
4   -0.936543 -0.467119 -0.414973 -0.583380 -0.093780  1.295823
..        ...       ...       ...       ...       ...       ...
594  0.937400 -0.843676 -0.359471 -0.291066 -0.573904 -1.182967
595  0.937400 -0.843676 -0.359471 -0.291066 -0.573904 -1.182967
596  1.675156 -0.852254 -1.149550 -0.431013  0.866467 -1.145787
597  1.649164 -0.580698 -0.418767  2.427030 -0.573904 -1.271053
598  1.649164 -0.580698 -0.418767  2.427030 -0.573904 -1.271053

[599 rows x 6 columns]

In [71]:
# Initialize an empty DataFrame for storing the correlation values
correlation_matrix = pd.DataFrame(index=df1.columns, columns=df2.columns)

# Calculate the correlation for each pair of columns
for col1 in df1.columns:
    for col2 in df2.columns:
        correlation_matrix.loc[col1, col2] = df1[col1].corr(df2[col2])
correlation_matrix = correlation_matrix.abs()

In [72]:
correlation_matrix

          0         1         2         3         4         5
0  0.402494  0.376143  0.757213  0.022064  0.377036  0.071507
1  0.158779  0.208665  0.595774   0.14301  0.150636  0.304143
2   0.35365  0.386314  0.270538   0.72478  0.007949  0.328352
3   0.33912  0.081602  0.069115  0.267703  0.115027       1.0
4    0.2586  0.034395  0.114558  0.151024  0.915075  0.041683
5  0.932108  0.018717  0.456739  0.338837  0.149357  0.287724

In [73]:
def categorise_value(x):
    if x > 0.7:
        return 1
    elif x < 0.3:
        return -1
    else:
        return 0
    
correlation_matrix_transform = correlation_matrix.map(categorise_value)
correlation_matrix_transform

   0  1  2  3  4  5
0  0  0  1 -1  0 -1
1 -1 -1  0 -1 -1  0
2  0  0 -1  1 -1  0
3  0 -1 -1 -1 -1  1
4 -1 -1 -1 -1  1 -1
5  1 -1  0  0 -1 -1

In [74]:
def correlation_matrix_check(df, row_threshold, col_threshold):
    # for every row, calculate percentage of only one value has modified correlation equals to 1
    row_condition = (df == 1).sum(axis=1) == 1
    row_percentage = row_condition.mean() 
    
    # for every column, calculate percentage of only one value has modified correlation equals to 1
    col_condition = (df==1).sum(axis=0) == 1
    col_percentage = col_condition.mean()
    
    # only true if both rows and columns condition are at least threshold percentage
    return row_percentage >= row_threshold and col_percentage >= col_threshold

n_row, n_col = correlation_matrix_transform.shape
# threshold set to above n-1 row or column to fulfil the condition
row_threshold = (n_row - 1) / n_row
col_threshold = (n_col - 1) / n_col
correlation_matrix_check(correlation_matrix_transform, row_threshold, col_threshold)

True